@media (max-width: 1440px) {
    .header-wrraper {
        padding: 40px 0 140px 0;
    }
    .main-title {
        font-size: 38px;
        padding-bottom: 300px;
    }
    .main-list-conten li {
        font-size: 16px;
    }
    .main-decriptions {
        width: 58%;
    }
    .best-start-desing::before {
        width: 100px;
        height: 207px;
        top: -300px;
    }
    .row-text {
        font-size: 24px;
    }
    .main-decriptions__premium,
    .main-decriptions__best-start,
    .main-decriptions__basic {
        font-size: 20px;
    }
    .main-decriptions__best-start span {
        font-size: 16px;
    }
    .price-old {
        font-size: 18px;
    }
    .price-knaw {
        font-size: 22px;
    }
    .price-discount {
        font-size: 16px;
    }
    .footer-list__item,
    .footer-text,
    .footer-content,
    .row-btn {
        font-size: 14px;
    }
    .footer-wrapper {
        height: 500px;
    }
    .footer {
        padding-top: 200px;
    }
}
@media (max-width: 1240px) {
    .container {
        width: 90%;
    }
    .main-img {
        width: 300px;
        height: 240px;
    }
    .footer-wrapper {
        height: 460px;
    }
    .footer {
        padding-top: 160px;
        width: 70%;
    }   
}
@media (max-width: 1190px) {
    .price-discount {
        left: 50%;
        top: 102%;
        transform: translate(-50%,0);
    }
    .main-list-conten li {
        font-size: 14px;
    }
    .footer-wrapper {
        height: 440px;
    }
}
@media (max-width: 910px) {
    .container {
        width: 95%;
    }
    .footer {
        padding-top: 140px;
        width: 80%;
    }
    .main-decriptions__premium,
    .main-decriptions__best-start,
    .main-decriptions__basic {
        font-size: 16px;
    }
    .main-decriptions__best-start span {
        font-size: 14px;
    }
    .row-btn {
        font-size: 12px;
    }
    .footer-wrapper {
        height: 400px;
    }
    .footer-list {
        margin-bottom: 40px;
    }
    .footer-list__item,
    .footer-content,
    .footer-text {
        font-size: 12px;
    }

}
@media (max-width: 768px) {
    .main-img {
        width: 240px;
        height: 180px;
    }
}
@media (max-width: 660px) {
    .container {
        width: 80%;
    }
    .main-title {
        font-size: 28px;
    }
    .main-img {
        left: 50%;
        transform: translateX(-50%);
        width: 360px;
        height: 280px;
    }
    .display-none-row,
    .best-start-desing::before,
    .main-list-conten,
    .row-text,
    .row-error,
    .row-nice {
        display: none;
    }
    .row-descriptions {
        display: block;
        font-weight: 500;
        font-size: 18px;
        padding: 0 18px 0 18px;
    }
    .main-decriptions {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main-decriptions__item {
        width: 100%;
        margin-bottom: 200px;
        border-radius: 20px;
    }
    .main-decriptions__premium,
    .main-decriptions__best-start,
    .main-decriptions__basic {
        position: static;
        font-size: 28px;
        padding: 30px 0;
    }
    .main-decriptions__item-premium {
        border-left: 4px solid #ffbd1e;
    }
    .price-premium,
    .main-decriptions__row-premium {
        border-top: 2px solid #ffbd1e;
    }
    .main-decriptions__row {
        margin-bottom: 0;
    }
    .price-old {
        font-size: 22px;
    }
    .price-knaw {
        font-size: 28px;
    }
    .price-discount {
        left: 110%;
        top: 50%;
        font-size: 18px;
        transform: translate(0,-50%);
    }
    .main-decriptions__item-basic {
        border-left: 4px solid #323232;
    }
    .row-btn-basic {
        background-color: #323232;
    }
    .price-basic,
    .main-decriptions__row-basic {
        border-top: 2px solid #323232;
    }
    .main-decriptions__item-best-start {
        border-left: 4px solid #2270fe;
    }
    .price-best-start,
    .main-decriptions__row-best-start {
        border-top: 2px solid #2270fe;
    }
    .row-btn {
        padding: 24px 0;
        font-size: 20px;
    }
    .footer-wrapper {
        height: 600px;
        background-image: url(../img/footer/footer-mobil.svg);
    }
    .footer {
        padding-top: 140px;
    }
    .footer-list {
        flex-direction: column;
        align-items: center;
    }
    .footer-list__item {
        margin-bottom: 20px;
    }
}
@media (max-width: 560px) {
    .main-title {
        font-size: 24px;
    }
}
@media (max-width: 440px) {
    .container {
        width: 90%;
    }
    .header-wrraper {
        padding: 40px 0 80px 0;
        background-image: url(../img/header/mobil-bg.svg);
        margin-bottom: 0;
    }
    .main {
        margin-bottom: 0;
    }
    .main-title {
        font-size: 22px;
        padding-bottom: 220px;
    }
    .main-img {
        width: 280px;
        height: 200px;
    }
    .main-decriptions__best-start {
        margin: 0;
    }
    .main-decriptions__best-start span {
        font-size: 18px;
        margin: 0;
    }
    .footer-wrapper {
        height: 540px;
    }
    .footer-text,
    .footer-content {
        font-size: 12px;
    }
    .footer-list {
        margin-bottom: 30px;
    }
    .footer-list__item {
        margin-bottom: 10px;
    }

}




















